html{
    height:100%;
}
body {
    font-family: 'Segoe UI';
    background-color:rgb(220, 220, 220);
    height:100%;
    margin:0;
    display: flex;
    flex-direction: column;    
}
*{
    font-weight:100;
    box-sizing:border-box;
    flex-grow:0;
}

#boxshow{
    width:100%;
    height:100%;
    position:fixed;
    top:0;
    left:0;
    z-index:-1;
}
#imgbox{
    background:url('../images/Bild1.jpg');
    background-size:cover;
    background-position:center center;
    height:100%;
    width:100%;
    position: absolute;
}
#imgbox2{
    background:url('../images/Bild2.jpg');
    background-size:cover;
    height:100%;
    width:100%;
    display: none;
    position: absolute;
}
#imgbox3{
    background:url('../images/Bild7.jpg');
    background-position: center 60%;
    background-size:cover;
    height:100%;
    width:100%;
    display: none;
    position: absolute;
}
#imgbox4{
    background:url('../images/Bild3.jpg');
    background-position:center 80%;
    background-size:cover;
    height:100%;
    width:100%;
    display: none;
    position: absolute;
}
#imgbox5{
    background:url('../images/Bild4.jpg');
    background-position:center 30%;
    background-size:cover;
    height:100%;
    width:100%;
    display: none;
    position: absolute;
}
#imgbox6{
    background:url('../images/Bild5.jpg');
    background-position:center 60%;
    background-size:cover;
    height:100%;
    width:100%;
    display: none;
    position: absolute;
}
#imgbox7{
    background:url('../images/Bild6.jpg');
    background-position:40% center;
    background-size:cover;
    height:100%;
    width:100%;
    display: none;
    position: absolute;
}
#imgbox8{
    background:url('../images/Bild8.jpg');
    background-position:30% center;
    background-size:cover;
    height:100%;
    width:100%;
    display: none;
    position: absolute;
}


#startBackground{
    height:100vh;
    text-shadow:0px 0px 1px #000;
    width:100%;
    display: flex;
    flex-direction: column;
}
#startBackground h1{
    font-size:100px;
    color:#fff;
    width:100%;
    top:0;
    text-align:center;
    margin:4% 0% 1% 0%;
}
#startBackground section{
    width:100%;
    padding-top:0%;
    text-align:center;
}
#startBackground section h2{
    font-size:50px;
    color:#fff;
}
#info{
    width:100%;
    padding-left:5%;
    line-height:250%;
    flex-grow:1;
}
#info p{
    font-weight:400;
}
#karta{
    background:rgba(0, 0, 0, 0.5);
    color:#fff;
    padding:0.6% 2%;
    border:1px solid #fff;
    text-decoration:none;
    margin-top:2%;
    font-size:25px;
    display: table;
    border-radius: 10px;
    transition: 0.3s;
}
#karta:hover{
    background:rgba(100, 100, 100, 0.3);
    transition: 0.2s;
}
#downHead{
    width:100%;
    text-align:center;
    font-size:60px;
    color:#fff;
    display:none;
    align-self: flex-end;
    padding-bottom:5vh;
}

#main{
    margin-top:auto;
    margin-bottom: auto;
    padding-bottom:5vh;
}
form{
    width:100%;
    text-align:center;
}
.namn{
    background:rgba(0, 0, 0, 0.3);
    margin:1%;
    padding-left:1%;
    border:1px solid #fff;
    color:#fff;
    font-size:17px;
    border-radius: 10px;
    padding:0.8%;
}
*::-webkit-input-placeholder {
    color: rgb(220, 220, 220);
}
*:-moz-placeholder {
    color: rgb(220, 220, 220);
}
*::-moz-placeholder {
    color: rgb(220, 220, 220);
}
*:-ms-input-placeholder {
    color: rgb(220, 220, 220);
}
.number{
    width:4vh;
    font-size: 19px;
    background:transparent;
    border:1px solid #fff;
    color:#fff;
    padding-left:1vh;
    border-radius: 10px;
}
.number:focus{
    outline:none;
}
.sign{
    margin-top:2%;
}

p, label{
    font-size:22px;
    display:inline-block;
    margin-left:1%;
    color:#fff;
    margin:auto;
}
button{
    margin-top:2%;
    background:rgba(0, 0, 0, 0.3);
    font-size:16px;
    color:#fff;
    border:1px solid #fff;
    cursor:pointer;
    transition:0.3s;
    padding:1% 4%;
    border-radius: 10px;
}
button:hover{
    background:rgba(100, 100, 100, 0.3);
    transition: 0.2s;
}
#fail{
    display:block;
    font-size:30px;
    font-weight: 500;
    color:#f00;
    margin-top:2vh;
}

@media only screen and (max-device-width: 550px){
    p, label{
        font-size:40px;
    }
    #startBackground section h2{
        font-size:60px;
    }
    .namn{
        width:35%;
        font-size:40px;
    }
    button{
        margin-top:8%;
        padding:1% 4%;
        font-size:35px;
    }
    #startBackground h1{
        font-size:80px;
    }
    #info{
        line-height:400%;
    }
    #karta{
        padding:1% 4%;
        font-size:50px;
        border-radius: 10px
    }
    input[type=radio] {
        border: 0px;
        height: 30px;
        width:30px;
    }
    .number{
        width:6vh;
        height:4vh;
        border:1px solid #fff;
        color:#fff;
        padding-left:1vh;
        font-size:30px;
    }
    #boxshow div{
        background-repeat:no-repeat;
    }
    #fail{
        font-size: 50px;
    }
}